/*-------------CSS REST--------------*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set scroll behavior */
html {
  scroll-behavior: smooth;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  /* font */
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
}
/* a:not([class]) {
  text-decoration-skip-ink: auto;
} */

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Global Variables */
* {
  --primary: #000;
  --primary-container: #edc33d;

  /* --secondary: #625b71;
  --on-secondary: #fff;
  --secondary-container: #e8def8;
  --on-secondary-container: #1d192b; */

  /* --error: #b3261e;
  --on-error: #fff;
  --error-container: #f9dedc;
  --on-error-container: #410e0b; */

  --col-1: 8.33%;
  --col-2: 16.66%;
  --col-3: 25%;
  --col-4: 33.33%;
  --col-5: 41.66%;
  --col-6: 50%;
  --col-7: 58.33%;
  --col-8: 66.66%;
  --col-9: 75%;
  --col-10: 83.33%;
  --col-11: 91.66%;
  --col-12: 100%;
}

body {
  display: grid;
  gap: 32px;
  max-width: 1920px;
  min-height: 100vh;
  margin: auto;
}

/*------ Navbar -----*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* padding: 1px 16px; */
}
nav h1 {
  padding: 0 16px;
  color: var(--primary-container);
  font-size: 2.5rem;
}

.menu {
  position: relative;
}

.menu .icon {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  font-size: 1.1rem;
  transition: all 0.2s ease-in;
  font-size: 25px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.menu .icon:hover {
  color: var(--primary-container);
}

.menu .links {
  background-color: #edc33d;
  position: absolute;
  right: 0;
  width: 100vw;

  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.menu .links a,
.social-links a {
  display: block;
  width: 100%;
  padding: 14px 0px;
  color: #000;
  text-align: center;
  font-size: 1.1rem;
  transition: all 0.2s ease-in;
}

.menu .links a:hover,
.social-links a:hover {
  color: #181818;
  font-weight: bold;
}

.menu .show {
  max-height: 400px; /* Adjust the height as needed */
  height: fit-content;
  transition: max-height 0.3s ease-in-out;
}

/*---------Header----------*/
header {
  /* display: flex;
  flex-wrap: wrap; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
header img {
  height: 300px;
  aspect-ratio: 16/9;
  margin: auto;
  display: block;
}

header div:first-child {
  padding: 48px var(--col-1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
header h1 {
  font-size: 2.5rem;
}
header p {
  font-size: 1rem;
}

/*-------Section------*/
section {
  width: 100%;
  padding: 16px;
}
section h2 {
  font-size: 2rem;
  padding: 8px 0px;
}
section p {
  font-size: 1.1rem;
  padding: 8px 0px;
}

/*---------Image Container-----------*/
.image-container {
  width: 100%;
  overflow: hidden;
  height: 500px;
  margin-bottom: 25px;
}

.scroll-wrapper {
  display: flex;
  gap: 10px;
}

/*----------Services----------*/
section .list {
  width: 100%;
  counter-reset: section-counter;
}
section .list .list-item {
  display: flex;
  flex-direction: column;
  gap: 14px;

  padding: 32px 0;
  border-bottom: 2px solid #000;
  counter-increment: section-counter;
}

section .list h3::before {
  content: counter(section-counter) ". ";
}

/*---------Work section---------*/
.work-section > *:not(:last-child) {
  margin-bottom: 25px;
}
.work-container {
  /* width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; */
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}
.work-card {
  width: 100%;
  max-height: 400px;
  height: 400px;
  position: relative;
  background-color: #f5f5f5;
  border-radius: 5px;
}
.work-card a {
  display: block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.work-card img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.work-card:hover img {
  transform: scale(1.05);
}

.work-card .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e6e1d4c4;
  padding: 16px;
}

.work-card .overlay h3 {
  font-size: 1.2rem;
  color: black;
}
/*----------numbers------------*/
.numbers {
  background-color: var(--primary-container);
}
.numbers div {
  padding: 8px 16px;
  text-align: center;
}
.numbers div h3 {
  font-size: 2rem;
}

/*-----------Contact----------*/
.contact {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.contact img {
  width: 100%;
  max-height: 150px;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}
.form-group > * {
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
select,
textarea {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

textarea {
  min-height: 150px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: var(--primary-container);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #faca2d;
}
/*--------Team---------*/
.team-container {
  display: grid;
  grid-template-columns: auto;
  gap: 16px;
}
.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
  /* height: 300px; */
  margin: auto;
  text-align: center;
}
.profile-card > * {
  width: 100%;
}
.profile-card .info {
  padding: 14px;
}
.profile-card img {
  height: 300px;
}
.profile-card h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
}
.profile-card .job-title {
  color: #888;
  font-size: 1rem;
}

/*----------Footer---------*/
footer {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  align-self: center;
  text-align: center;
  padding: 42px;
  background-color: #edc43d59;
  gap: 14px;
}
.social-links a {
  display: inline-block;
  width: fit-content;
  padding: 14px 16px;
}

/*-------Classes--------*/
.primary-btn {
  display: block;
  color: #000;
  font-weight: bold;
  background-color: #edc33d;

  padding: 12px 14px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s ease-in;
  border: 0;
  outline: 0;
  cursor: pointer;
  text-align: center;
}

.primary-btn:hover {
  background-color: #ffce2d;
}

img {
  width: 100%;
}

section .header {
  margin-bottom: 25px;
}

/*-----About Page --------*/
.about h1 {
  font-size: 3rem;
}
.about header {
  width: 100%;
  height: fit-content;
}
/*------Project Page-------*/
.project {
  display: grid;
  gap: 20px;
  padding: 0;
}
.project h1 {
  font-size: 3rem;
  width: 100%;
  text-align: center;
}
.project-cover-image {
  height: 350px;
  width: 100%;
}
.project article {
  padding: 0 var(--col-1);
}

/*----------Extending panels---------*/
.extend-container {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.7s ease-in;

  height: 100px;
}

/* .panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
} */
.panel.active {
  height: 400px;
}
/* .panel .active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
} */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /*---------Image Container-----------*/

  /*---------Work section---------*/

  .work-container {
    grid-template-columns: 1fr 1fr;
  }

  /*----------numbers------------*/
  .numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav {
    padding: 0px calc(var(--col-1) / 5);
  }
  .menu {
    position: relative;
  }

  .menu .icon {
    display: none;
  }

  .menu .links {
    background-color: transparent;
    position: relative;
    width: auto;
    max-height: fit-content;
  }

  .menu .links a {
    display: inline-block;
    width: auto;
    padding: 14px 16px;
  }

  section .list .list-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  section .list .list-item h3 {
    width: 25%;
  }
  section .list .list-item p {
    width: 75%;
  }

  .team-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  section .primary-btn {
    width: fit-content;
    padding: 16px 32px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 900px) {
  .extend-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .panel {
    height: 500px;
    /* width: 50px; */
    flex: 0.5;
  }

  .panel.active {
    height: auto;
    flex: 5;
  }
}
@media only screen and (min-width: 992px) {
  /*---------Header----------*/
  header {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    height: 500px;
  }
  header .cover-image {
    height: 100%;
  }
  header img {
    height: 100%;
    max-height: 100%;
    aspect-ratio: 16/9;
  }
  header .primary-btn {
    width: fit-content;
    padding: 16px 32px;
  }

  section {
    padding: calc(var(--col-1) / 3) var(--col-1);
  }
  .contact {
    grid-template-columns: 1fr 1fr;
  }
  .contact img {
    /* width: 100%; */
    max-height: 100%;
    height: 100%;
  }

  section .header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  /*---------Image Container-----------*/
  .image-container {
    width: 100%;
    overflow-x: scroll;
    height: 500px;
    margin-bottom: 25px;
  }

  .scroll-wrapper {
    display: flex;
    gap: 10px;
    height: 100%;
  }
  .scroll-wrapper img {
    width: auto;
    height: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav {
    padding: 0 64px;
  }
  .work-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
